.task-label-menu {
	.task-label-menu-item {
		align-items: center;
		display: grid;
		gap: 12px;
		grid-auto-flow: column;
		grid-template-columns: auto minmax(0, 1fr);
		padding-inline-start: 4px;
	}

	.task-label {
		align-content: center;
		border-radius: 3px;
		display: grid;
		font-weight: 500;
		height: 32px;
		padding: 0 12px;
		// width: 212px;

		label {
			font-size: rem(14px);
			font-weight: 500;
		}

		@include hover-supported {
			filter: brightness(1.2);
		}
	}
}