.task-preview {
    background-color: var(--clr-background-task);
    border-radius: 8px;
    box-shadow: var(--shadow-raised);
    color: var(--clr-text-2);
    cursor: pointer;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    scroll-margin: 8px;

    @include hover-supported {
        outline: 2px solid var(--clr-selected-border, #388bff);
        opacity: 1;
    }

    &-text {
        margin-bottom: 4px;
        display: block;
        overflow-wrap: break-word;
    }

    &-container {
        padding: 8px 12px 4px 12px;

        a {
            color: inherit;
        }

        p {
            margin-block-end: 4px;
        }
    }

    &-cover {
        display: block;
        max-height: 260px;
        object-fit: cover;
    }

    &-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: start;
        margin-block-end: 4px;

        &:empty {
            display: none;
        }
    }

    &-label {
        border-radius: 4px;
        height: 16px;
        min-width: 56px;
        padding: 0 8px;
        animation-duration: 450ms;
        animation-delay: 0ms;
        animation-name: labels-open;
        animation-timing-function: ease;

        &-title {
            display: block;
            opacity: 1;
            animation-duration: 450ms;
            animation-delay: 0ms;
            animation-name: labels-text-open;
            animation-timing-function: ease;
        }

        @include hover-supported {
            filter: brightness(1.2);
        }

        .collapsed & {
            height: 8px;
            max-height: 8px;
            width: 40px;
            min-width: 40px;
            --expanded-max-width: 40px;
            animation-duration: 450ms;
            animation-delay: 0ms;
            animation-name: labels-collapse;
            animation-timing-function: ease;

            .task-preview-label-title {
                display: none;
            }
        }

        &-title {
            display: grid;
            font-size: 12px;
            font-weight: 500;
            place-content: center;
            height: 100%;
        }
    }

    @keyframes labels-open {
        0% {
            padding-right: 0;
            padding-left: 0;
            transform: scaleY(0.5);
            color: transparent;
        }

        66% {
            padding-right: 8px;
            padding-left: 8px;
            transform: scaleY(1);
        }

        100% {
            padding-right: 8px;
            padding-left: 8px;
            transform: scaleY(1);
            color: transparent;
        }
    }

    @keyframes labels-collapse {
        0% {
            max-width: 56px;
            transform: scaleY(1.5);
            color: transparent;
        }

        66% {
            transform: scaleY(1.5);
        }

        100% {
            max-width: 40px;
            transform: scaleY(1);
            color: transparent;
        }
    }

    @keyframes labels-text-open {

        0%,
        99% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &-badges {
        display: flex;
        gap: 4px;
        justify-content: start;
    }

    &-badge {
        border-radius: 3px;
        color: var(--clr-icon);
        display: flex;
        font-size: rem(12px);
        padding: 2px;
        margin-block-end: 4px;
        width: fit-content;

        .info {
            padding: 0 4px 0 2px;
        }

        &.completed {
            background-color: var(--clr-background-progress-complete);
            color: white;

            .icon::before {
                color: white;
            }
        }

        &.overdue {
            background-color: var(--clr-danger-bold);
            color: var(--clr-text-4);
        }

        &.due-soon {
            background-color: var(--clr-warning-bold);
            color: var(--clr-warning-text);
        }

        &.complete {
            background-color: var(--clr-success-bold);
            color: var(--clr-text-4);
        }

        .icon-hover {
            display: none;
        }

        @include hover-supported {
            &.btn:not(.disabled) {
                background-color: transparent;

                &.overdue {
                    background-color: var(--clr-danger-bold);
                    color: var(--clr-text-4);
                }

                &.due-soon {
                    background-color: var(--clr-warning-bold);
                    color: var(--clr-warning-text);
                }

                &.complete {
                    background-color: var(--clr-success-bold);
                    color: var(--clr-text-4);
                }
            }

            .icon-no-hover {
                display: none;
            }

            .icon-hover {
                display: block;
            }

            filter: saturate(85%) brightness(85%);
        }
    }
}