.board-add {
	.modal {
		border-radius: 8px;
		width: 304px;
	}

	&-header {
		display: grid;
		grid-template-areas:
			". title close";
		grid-template-columns: 32px minmax(0, 1fr) 32px;
		place-items: center;
		padding: 4px 8px;
	}

	&-title {
		grid-area: title;
		font-weight: 600;
		letter-spacing: -0.003em;
		line-height: 40px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-close {
		grid-area: close;
	}

	&-content {
		display: grid;
		grid-auto-flow: row;
		padding: 0 12px 12px;
	}

	.board-add-create {
		margin-block-start: 16px;
	}
}