.board-preview {
	// background-image: url("https://images.unsplash.com/photo-1673794864967-00cc64cb8ce4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw0MDE5NDJ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzQ5NDQwNjU&ixlib=rb-4.0.3&q=80&w=400");
	background-color: var(--clr-background-board);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	cursor: pointer;
	height: 100%;
	padding: 4px 8px;
	position: relative;

	&.board-tile-fade {
		color: var(--clr-text-1);
		font-size: rem(16px);
		font-weight: 700;

		&::after {
			background-color: var(--clr-background-fade);
			border-radius: 3px;
			content: '';
			height: 100%;
			inset-block-start: 0;
			inset-inline-start: 0;
			position: absolute;
			width: 100%;

		}
	}
	@include hover-supported {
		&.board-tile-fade::after {
			background-color: var(--clr-background-fade-hover);
		}
	}
}