.modal {
	background-color: var(--clr-background-menu);
	box-shadow: var(--shadow-overlay);
	inset-block-start: 0;
	inset-inline-start: 0;
	position: absolute;
	width: max-content;
	z-index: 25;

	&-overlay {
		background-color: var(--clr-background-overlay);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
	}
}

#modal-root {
	display: grid;
	inset-block-start: 0;
    justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 25;
}

.modal-container {
	border-radius: 12px;
	margin-block-start: 48px;
	overflow: hidden;

	.modal {
		position: relative;
		width: 100%;
	}
}

.board-modal {
	position: absolute;
	
	&-header {
		display: grid;
		grid-template-areas:
			". title close";
		grid-template-columns: 32px minmax(0, 1fr) 32px;
		place-items: center;
		padding: 4px 8px;
	}

	&-title {
		grid-area: title;
		font-weight: 600;
		letter-spacing: -0.003em;
		line-height: 40px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-close {
		grid-area: close;
	}

	&-content {
		display: grid;
		grid-auto-flow: row;
		padding: 0 12px 12px;
	}

	&-create {
		margin-block-start: 16px;
	}

	.modal {
		width: 304px;
	}
}