.task-list{
        display: flex;
        z-index: 1;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        margin: 0 4px;
        padding: 0px 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        row-gap: 8px;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        scrollbar-color: var(--clr-divider, #091e4224) var(--ds-background-neutral, #091e420f);
        scrollbar-width: thin;
}

.task-list-el{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        scroll-margin: 80px;
}

.task-list-top-gap{
        flex-shrink: 0;
        height: 8px;
        margin-bottom: -2px;
}