.task-preview {
    position: relative;
    min-height: 36px;
    border-radius: 8px;
    background-color: var(--clr-background-task);
    box-shadow: var(--shadow-raised);
    color: var(--clr-text-2);
    cursor: pointer;
    scroll-margin: 8px;

    @include hover-supported {
        outline: 2px solid var(--clr-selected-border, #388bff);
        opacity: 1;
    }
}

.task-preview-text {
    margin-bottom: 4px;
    display: block;
    overflow-wrap: break-word;
}

.task-preview-container {
    padding: 8px 12px 4px 12px;

    a {
        color: inherit;
    }

    p {
        margin-block-end: 4px;
    }
}