* {
    box-sizing: border-box;
}

html {}

body {
    background-color: var(--clr-background-default-1);
    background-position: center;
    background-size: cover;
    color: var(--clr-text-2);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: rem(18px);
    font-weight: 700;
    line-height: rem(32px);
}

h2 {
    font-size: rem(14px);
}

h3 {
    font-size: rem(12px);
    font-weight: 600;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

textarea {
    border: none;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: rem(14px);
    font-weight: bold;
    display: block;
    letter-spacing: inherit;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
    text-wrap: wrap;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
}

input {
    font-size: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.btn {
    align-items: center;
    background-color: transparent;
    border: none;
    color: inherit;
    border-radius: 3px;
    display: grid;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: rem(20px);
    padding: 6px;
    outline: none;
    place-content: center;
    transition: 0.1s ease;
}

.btn-color-bold {
    box-shadow: none;
    font-weight: 500;
    color: var(--clr-text-4);
    padding: 6px 12px;

    @include hover-supported {
        &:not(.disabled) {
            background-color: var(--clr-background-hover-2);
        }
    }

    &.blue {
        background-color: var(--clr-text-active-1);
    }

    &.red {
        background-color: var(--clr-danger-bold);
    }
}

.btn {
    &:not(.disabled) {
        cursor: pointer;

        @include hover-supported {
            background-color: var(--clr-background-hover-1);

            &.blue {
                background-color: var(--clr-background-hover-2);
            }

            &.red {
                background-color: var(--clr-danger-bold-hover);
            }
        }
    }

    &.disabled {
        background-color: var(--clr-background-disabled);
        color: var(--clr-text-disabled);
        cursor: not-allowed;

        @include hover-supported {
            background-color: var(--clr-background-disabled);
            color: var(--clr-text-disabled);
            cursor: not-allowed;
        }
    }
}

.icon {
    color: inherit;
}

.icon-wrapper {
    display: grid;
    font-family: 'trellicons';
    height: 32px;
    place-content: center;
    width: 32px;

    &.add-item {
        margin-right: 8px;
        height: auto;
        width: auto;
    }
}
