* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr6;
// }

html {
   
}

body {
    color: var(--clr-text-2);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
