.app {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main";
    grid-template-columns: 250px minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    height: 100vh;

    @include grid-borders;

    .app-main {
        border-inline-start: none;
        border-block-end: none;
        grid-area: main;
    }
}