form {
	label {
		font-size: rem(12px);
		font-weight: 700;
		line-height: rem(16px);

		&:has(+input[required]) {
			&:after {
				content: '*';
				color: var(--clr-danger);
			}
		}
	}

	input,
	select,
	textarea {
		background-color: var(--clr-background-editable);
		box-shadow: var(--shadow-input);
		border: none;
		border-radius: 3px;
		color: var(--clr-text-2);
		line-height: rem(20px);
		outline: none;
		padding: 8px 12px;
		transition-property: background-color, border-color, box-shadow;
		transition-duration: 85ms;
		transition-timing-function: ease;
		width: 100%;
		word-break: break-word;

		&.empty:required:not(:focus-visible) {
			box-shadow: var(--shadow-danger);

			@include hover-supported {
				box-shadow: var(--shadow-danger);
			}
		}

		&:focus-visible {
			background-color: var(--clr-background-task);
			box-shadow: var(--shadow-selected);
		}

		@include hover-supported {
			background-color: var(--clr-background-hover-input);
		}
	}

	.notification {
		align-items: start;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr;
		gap: 8px;

		p {
			margin-block-end: 8px;
		}
	}

	input:not(.empty)+.notification {
		display: none
	}

	input[type="checkbox"] {
		height: 16px;
		margin: 0;
		width: 16px;
		transition-duration: 85ms;
		transition-property: background-color, border-color, box-shadow;
		transition-timing-function: ease;
	}

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0' fill='currentColor'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 24px 24px;
		padding: 4px 6px;
	}

	/* For IE10+ */
	select::-ms-expand {
		display: none;
	}
}