.ant-modal-root {
	.ant-modal-mask {
		background-color: var(--clr-background-overlay);
	}

	.ant-modal-wrap {
		.ant-modal-content {
			margin-inline: 8px;
			padding: 0;
		}

		.ant-modal {
			max-width: 100%;
		}

	}
}

.popover-small {
	&-header {
		display: grid;
		grid-template-areas:
			". title close";
		grid-template-columns: 32px minmax(0, 1fr) 32px;
		place-items: center;
		padding: 4px 8px;
	}

	&-title {
		grid-area: title;
		font-weight: 600;
		letter-spacing: -0.003em;
		line-height: 40px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-close {
		grid-area: close;
	}

	&-content {
		display: grid;
		grid-auto-flow: row;
		padding: 0 12px 12px;
	}

	&-create {
		margin-block-start: 16px;
	}

	.modal {
		width: 304px;
	}
}

.ant-popover:has(.popover-small) {
	width: 304px;

	.ant-popover-inner {
		padding: 0;
	}
}

.ant-popover .ant-popover-inner {
	box-shadow: var(--shadow-overlay-popover);
	overflow: hidden;
	padding: 0;
}

.ant-popover,
.ant-popover .ant-popover-inner-content,
.ant-modal-content,
.ant-select-dropdown {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;

	h2 {
		font-weight: 600;
	}

	button {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
	}
}

.ant-popover-inner-content {
	background-color: var(--clr-background-menu);
}
