.app-sidebar {
	backdrop-filter: blur(6px);
	background-color: var(--clr-background-sidebar);
	color: var(--clr-text-3);
	grid-area: sidebar;
	overflow-y: auto;
	padding: 12px 0;
	z-index: 20;

	.btn {
		border-radius: 0;
		display: block;
		height: 100%;
		justify-content: start;
		padding: 0 12px;
		overflow: hidden;
		text-overflow: ellipsis;

		&.active {
			background-color: var(--clr-background-active-1);
		}
	}

	&-boards-title {
		font-weight: 600;
		line-height: 24px;
		padding: 4px 6px 4px 12px;
	}

	&-boards-list {
		display: grid;
		grid-auto-rows: 32px;
		grid-template-columns: minmax(0, 1fr);
		justify-content: stretch;
		white-space: nowrap;
	}

	&-item {
		gap: 8px;
		grid-auto-flow: column;
		justify-content: start;
		overflow: hidden;
		text-overflow: ellipsis;
		
		&.btn {
			display: grid;
		}

		&-img {
			background-color: var(--clr-background-default-1);
		}
	}
}