.app-sidebar, 
.app-sidebar-open {
	.icon-back,
	.icon-forward {
		font-size: 12px;
		font-weight: 700;
	}
}

.app-sidebar {
	backdrop-filter: blur(6px);
	background-color: var(--clr-background-sidebar);
	color: var(--clr-text-3);
	display: grid;
	grid-area: sidebar;
	grid-template-rows: 56px minmax(0, 1fr);
	overflow-y: auto;
	z-index: 20;

	.btn {
		border-radius: 0;
		display: block;
		height: 100%;
		justify-content: start;
		padding: 0 12px;
		overflow: hidden;
		text-overflow: ellipsis;

		&.active {
			background-color: var(--clr-background-active-1);
		}
	}

	&-header {
		align-items: center;
		border-bottom: 1px solid var(--clr-divider-sidebar);
		color: var(--clr-icon);
		display: grid;
		font-size: 14px;
		font-weight: 600;
		grid-template-columns: auto minmax(0, 1fr) auto;
		justify-content: start;
		padding: 8px 12px 8px;

		&-logo {
			align-items: center;
			background: linear-gradient(#AE4787, #E774BB);
			border-radius: 4px;
			display: flex;
			justify-content: center;
			width: 32px;
			height: 32px;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
		}

		&-title {
			margin: 0 4px 0 8px;
		}
	}

	&-collapse.btn {
		border-radius: 3px;
		display: grid;
		height: 32px;
		padding: 0;
		place-content: center;
		width: 32px;
	}

	&-boards-title {
		font-weight: 600;
		line-height: 24px;
		padding: 4px 6px 4px 12px;
		text-wrap: nowrap;
	}

	&-boards-list {
		display: grid;
		grid-auto-rows: 32px;
		grid-template-columns: minmax(0, 1fr);
		justify-content: stretch;
		white-space: nowrap;
	}

	&-item {
		gap: 8px;
		grid-auto-flow: column;
		justify-content: start;
		overflow: hidden;
		text-overflow: ellipsis;

		&.btn {
			display: grid;
			grid-template-columns: 24px minmax(0, 1fr);
			max-width: 100%;
		}

		&-img {
			background-color: var(--clr-background-default-1);
		}
	}

	&-open {
		background-color: var(--clr-background-sidebar-open);
		cursor: pointer;
		grid-area: sidebar-open;
		max-width: 100%;
		overflow: hidden;
		transition-property: background-color, border-color, box-shadow;
		transition-duration: 85ms;
		transition-timing-function: ease;
		z-index: 20;

		&:hover {
			background-color: var(--clr-background-sidebar-open-hover);

			.btn {
				background-color: var(--clr-background-sidebar-open-btn-hover);
			}
		}

		.btn {
			background-color: var(--clr-background-sidebar-open);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border: 1px solid var(--dynamic-text-transparent, hsla(218, 54%, 19.6%, 0.16));
			border-radius: 50%;
			backdrop-filter: blur(16px);
			inset-block-start: 63px;
			inset-inline-start: 5px;
			position: absolute;
			transition: transform 100ms ease-in;
			transform: translate3d(-120%, 0, 0);
		}

		&.collapsed {
			.btn {
				transform: translate3d(0%, 0, 0);
			}
		}
	}
}