.task-details {

    &.modal-container {
        width: 768px;
    }

    &-close {
        border-radius: 50%;
        height: 40px;
        position: absolute;
        inset-block-start: 8px;
        inset-inline-end: 0;
        margin: 0 8px auto;
        padding: 6px;
        width: 40px;
        z-index: 2;
    }

    &-content {
        display: grid;
        grid-template-areas:
            "header header"
            "main sidebar";
        grid-template-columns: 1fr 300px;

    }

    &-header {
        grid-area: header;
        padding:20px 52px 8px 56px;

        .editable-title {
            font-size: rem(20px);

            &-fixed {
                padding: 0;
            }

            &-input {
                margin: -6px -10px;
                padding: 6px 10px;
            }

            h2, textarea {
                font-size: inherit;
            }
        }
    }

    &-card-icon {
        inset-block-start: 16px;
        inset-inline-start: 16px;
        position: absolute;
    }

    &-main {
        grid-area: main;
    }

    &-sidebar {
        grid-area: sidebar;
    }
}