.board-menu-header {
	display: grid;
	grid-template-areas:
		"back title close";
	grid-template-columns: 32px minmax(0, 1fr) 32px;
	margin: 12px 0 12px 0;
	padding: 0 12px;
	place-items: center;

	&-title {
		font-size: 16px;
		font-weight: 500;
		grid-area: title;
		padding: 6px 0;
	}
	
	&-close {
		grid-area: close;
	}

	&-back {
		grid-area: back;
	}
	
	&-hr {
		background-color: var(--clr-divider);
		margin: -1px 12px 0;
		opacity: 0.25;
	}
}
