/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }

  // Grid borders
  @mixin grid-borders {
    overflow: hidden;
    // gap: var(--grid-border-width);
    position: relative;

    >* {
        border-bottom: 1px solid var(--clr-grid-border);
        border-left: 1px solid var(--clr-grid-border);
        // border: var(--grid-border-width) solid var(--clr-grid-border);
        // position: relative;

        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     background-color: var(--clr-grid-border);
        //     // z-index: 1;
        // }

        // &::before {
        //     inline-size: var(--grid-border-width);
        //     block-size: 100vh;
        //     inset-block-start: 0;
        //     inset-inline-start: calc(var(--grid-border-offset) * -1);
        // }

        // &::after {
        //     inline-size: 100vw;
        //     block-size: var(--grid-border-width);
        //     inset-inline-start: 0;
        //     inset-block-start: calc(var(--grid-border-offset) * -1)
        // }
    }
}

@mixin group-style {
    background-color: var(--clr-background-group);
	border-radius: 12px;
	box-shadow: var(--shadow-raised);
}