.task-preview {
    background-color: var(--clr-background-task);
    border-radius: 8px;
    box-shadow: var(--shadow-raised);
    color: var(--clr-text-2);
    cursor: pointer;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    scroll-margin: 8px;

    @include hover-supported {
        outline: 2px solid var(--clr-selected-border, #388bff);
        opacity: 1;
    }

    &-text {
        margin-bottom: 4px;
        display: block;
        overflow-wrap: break-word;
    }

    &-container {
        padding: 8px 12px 4px 12px;

        a {
            color: inherit;
        }

        p {
            margin-block-end: 4px;
        }
    }

    &-cover {
        display: block;
        max-height: 260px;
        object-fit: cover;
    }

    &-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: start;
        margin-block-end: 4px;

        &:empty {
            display: none;
        }
    }

    &-label {
        border-radius: 4px;
        height: 16px;
        min-width: 56px;
        padding: 0 8px;

        @include hover-supported {
            filter: brightness(1.1) saturate(1.2);
        }

        .collapsed & {
            height: 8px;
            width: 40px;

            .task-preview-label-title {
                display: none;
            }
        }

        &-title {
            display: grid;
            font-size: 12px;
            font-weight: 500;
            place-content: center;
            height: 100%;
        }
    }

    &-badge {
        border-radius: 3px;
        color: var(--clr-icon);
        display: flex;
        font-size: rem(12px);
        padding: 2px;
        margin-block-end: 4px;
        width: fit-content;

        .info {
            padding: 0 4px 0 2px;
        }

        &.completed {
            background-color: var(--clr-background-progress-complete);
            color: white;

            .icon::before {
                color: white;
            }
        }
    }
}