.task-details-sidebar {
	grid-area: sidebar;
	padding: 0 16px 8px 8px;

	h3 {
		color: var(--clr-icon);
		margin-bottom: 4px;
	}

	.btn {
		justify-content: start;
		width: 100%;

		&:has(.icon-add) {
			background-color: transparent;
			margin-block-end: 16px;
		}

		@include hover-supported {
			background-color: var(--clr-background-btn-task-hovered);
		}
	}

	.icon {
		margin: 0 6px 0 -6px;
	}

	.icon-add {
		height: auto;
		width: auto;
		line-height: 1;
	}

	&-module {
		display: grid;
		gap: 8px;
		margin-block-end: 8px;

		@include for-mobile-layout {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		}

		&:last-child {
			margin-block-end: 24px;
		}
	}

	.span1 {
		@include for-mobile-layout {
			grid-column: span 1;
		}
	}

	.span2 {
		@include for-mobile-layout {
			grid-column: span 2;
		}
	}

	.task-details-sidebar-module-title.with-btn {
		align-items: center;
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;

		.btn {
			border-radius: 50%;
			height: 20px;
			padding: 0;
			margin: 0;
			width: 20px;
		}

		.icon {
			margin: 0;
			padding: 0;
		}
	}
}