.task-details-checklist {
	&-progress {
		margin-block-end: 6px;
		
		.ant-progress-bg {
			background-color: var(--clr-background-progress);
		}

		.ant-progress.ant-progress-status-success .ant-progress-bg  {
			background-color: var(--clr-background-progress-complete);
		}

		.ant-progress .ant-progress-text.ant-progress-text-outer {
			color: var(--clr-icon);
			font-size: 11px;
			flex-basis: 40px;
			margin: 0;
			text-align: center;
		}
	}

}
